Regression completed at 2026-02-15T01:59:43.0901058+08:00
.......                                                                  [100%]
7 passed in 0.24s
